* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior:smooth;
}

/* Inicio header */

.nav{
    background-color: #181818;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top:0;
    z-index: 9;         
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin-right: 28px;
}

.nav-list a{
    text-decoration: none;
    color: #ddd;
    padding: 20px;
}

.nav-list a:hover{
    color:#fff;
}

/* Fim do header */

/* Inicio do main */
.main{
    width: 100%;
    background-color: #000;
    height: calc(100vh - 80px);
    background-image: url("images/programador.png");
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.main h1 {
    color:#fff;
    font-size: 54px;
}

.main p{
    font: size 24px;
    font-style: italic;
    color: #1e96fc;
    margin-top: 10px;
    margin-bottom:35px;
}

.call-to-action{
    cursor: pointer;
    background-color: #fff;
    border:0;
    padding: 14px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: bold;
    transition: 0.9s;

}

.call-to-action:hover{
    transform: scale(1.1);
}
.main a{
    text-decoration: none;
    color: #181818;
}


/* Fim do main */

/* Inicio sobre */

.about{
    background-color: #fff;
    width:100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 80px;
    padding-bottom: 80px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about div{
    width:50%;
    padding-right: 40px;;
}

.about img{
    max-width: 450px;
    border-radius: 8px;
}

.about div h2{
    font-size: 32px;
    margin-bottom: 14px;
}

/* Inicio Projetos */ 
.projects{
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 80px 0;

}

.projects h2{
    font-size: 32px;
    margin-bottom: 8px;
    margin-top: 20px;
}

.projects p{
    margin-bottom: 40px;
    font-style: italic;
}

.project-list{
    width: 100%;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.projects img{
    width:22%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    opacity: 0.8;
}

.projects img:hover{
    opacity: 1;
    transition: 0.9s;
}

.action{
    background-color:#181818;
    border: 0;
    padding: 12px 28px;
    border-radius: 4px;
    font-size: 18px;
    color: #fff;
    margin-top: 18px;
    cursor: pointer;
}

/* Fim Projetos */

/* Inicio Rodapé */
footer{
    background-color: #181818;
    width: 100%;
    padding:50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff';
}

footer a{
    text-decoration: none;
    color:#fff;
}

footer p{
    margin-left: 12px;
    color: #fff;
}

/* Fim Rodapé */

/* Responsividade */

@media (max-width: 1050px){
    /* Inicio maisn */
    .main h1{
        font-size: 45px;
    }
    .main p{
        font-size: 18px;
    }
    .main{
        background-size: cover;
    }
    /* Fim main */

    /* Inicio sobre */
    .about{
        flex-direction: column;
        padding-top: 80px;
        padding-bottom: 0;
        padding-right: 0;
        padding-left: 0;
    }
    .about div{
        max-width: 80%;
    }
    .about div h2{
        font-size: 45px;
    }
    .about img{
        width: 80%;
        margin-top: 30px;
    }
    /* Fim sobre */

    /* Inicio Projetos */
    .projects img{
        width: 27.5%;
    }
    /* Fim Projetos */

    /* Inicio Rodapé */
    footer{
        flex-direction: column;
    }
    footer h3{
        font-size: 24px;
        margin-bottom: 8px;
    }
    footer p{
        margin:0;
    }
    /* Fim Rodapé */
}